<!-- your html code here -->
<div class="container my-4">
    <h1>Portafolio</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ratione error rem voluptatem qui excepturi
        impedit ad. Enim sunt maxime, quas ipsa explicabo molestias asperiores delectus, amet quo nulla saepe.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="" style="width: 18rem;">
                <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="" style="width: 18rem;">
                <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="" style="width: 18rem;">
                <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>